Source: funkplot
Maintainer: Ferenc Deak <fritzone@gmail.com>
Homepage: http://funkplot.sh
Section: math
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
 qtbase5-dev,
 qtdeclarative5-dev,
 qtmultimedia5-dev,
 qtscript5-dev,
 libqt5opengl5-dev,
 libqt5x11extras5,
 libqt5x11extras5-dev,
 qtxmlpatterns5-dev-tools,
 libqt5webkit5-dev,
 qtwebengine5-dev,
 libqt5svg5-dev,
 qttools5-dev,
 libqt5help5,
 qtbase5-private-dev,
 cmake,
 git,
 pkg-config,
 build-essential, 
 qtwebengine5-dev,
 libpython3-dev,
 mesa-common-dev,
 python3,
 latex2rtf,
 imagemagick,
 texlive-latex-extra
 
Package: funkplot
Pre-Depends: ${math:Pre-Depends}
Depends: ${math:Depends},
 ${shlibs:Depends},
 ${debconf:Depends},
 libqt5multimedia5-plugins,
 libqt5multimedia5-plugins,
 libqt5widgets5,
 libqt5core5a,
 libqt5gui5,
 libqt5network5,
 libqt5widgets5,
 zlib1g,
 libc6,
 libqt5widgets5,
 libqt5core5a,
 libqt5gui5,
 libqt5network5,
 libqt5widgets5,
 libssl1.0.0,
 libxml2,
 libmodbus5,
 libev4,
 libaec0,
 libsz2,
 libqt5gui5,
 libqt5qml5,
 libqt5quick5,
 libqt5widgets5,
 libqt5webengine5,
 libqt5network5,
 libqt5multimedia5,
 libqt5script5,
 libqt5opengl5,
 libqt5serialport5,
 libqt5x11extras5,
 libxcb-xinerama0,
 libqt5sql5,
 qtxmlpatterns5-dev-tools,
 libqt5xml5,
 libqt5webengine-data,
 python3
Architecture: amd64
Description: funkplot - Function plotter application
 A tool to plot graphicale representation of functions using an interpreted programming language
